#draggable-element {
  width: 200%;
  height: fit-content;
  position: absolute;
  margin: 1rem;
  scale: 0.75;
  text-align: center;
  h4 {
    margin-top: 1rem;
    width: 100%;
    text-transform: uppercase;
    opacity: 0.25;
  }
  .row-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    column-gap: 1rem;
    row-gap: 0rem;
    > div {
      width: 18%;
      margin: 2rem 0rem;
    }
  }
}

#drag-container {
  overflow: clip;
  height: 100vh;
  width: 99%;
  margin-bottom: 0rem;
  /* box-shadow: 2px 2px 10px -5px gray; */
  margin-top: 0rem;
  transition: 0.3s;
  position: relative;
  z-index: 5;
  /* background-color: rgb(237, 237, 237); */
  border: 1px solid rgb(0, 255, 17);

}

.main-skill-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0rem 0 0 0;
  width: 100%;
  height: 100vh;
  img {
    width: 70%;
    object-fit: cover;
  }
  .col-div {
    overflow: clip;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .border {
      transform: scaleX(-1);
    }
    div {
      border: 2px solid green;
    }
  }
}

@media (max-width: 720px) {
  #draggable-element {
    > div {
      width: 20px;
      height: 20px;
    }
  }
}

.h3-heading{
  position: fixed;
  left: 40%;
  top: 50%;
  z-index:5;
  background-color: white;
  box-shadow: 0px 0px 10px -5px gray;
  padding:0.5rem 1rem;
  border-radius: 5px;
  font-weight: 300;
  font-size: 1.25rem;
}